<div class="container-fluid">

<div class="row">

  <div class="col-md-8" style="height:100% !important;background:white !important;">
    <div class="row" style="margin-top:20px;height:100% !important;min-height:100vh;">
      <div class="col-md-12" style="height:210px;background:#4285F4;">
        <div class="row " style="margin-top:20px;">
          <div class="col-md-5">
            <h1 style="color:white">{{mainPrescription.clinicname.name}}</h1>
            <h3 style="color:white" class="text-start" style="word-wrap:break-word;">{{mainPrescription.clinicname.address}}</h3>
            <h3 style="color:white" style="word-wrap:break-word;">{{mainPrescription.clinicname.city}},{{mainPrescription.clinicname.pincode}}</h3>

          </div>
          <div class="col-md-offset-5 col-md-2">
            <img src="/static/images/mainImagelogo.png" style="width:160px;margin-left:5px;margin-right:5px;margin-bottom:10px;color:white;">


          </div>

        </div>
        <div class="row" style="margin-top:30px">
          <div class="col-md-offset-1 col-md-10" style="height:10px;background:#f1f1f1">

          </div>


        </div>
        <div class="row">
          <div class="col-md-offset-1 col-md-4">
            <h4 style="color:#4285F4 !important;padding:0px;margin:0px">{{mainPrescription.doctordetails.name}}</h4>
            <br>
            <h4>{{mainPrescription.doctordetails.specialization}}</h4>
          </div>
          <div class="pull-right col-md-4">
            <h4 style="padding:0px;margin:0px">Prescription no:{{mainPrescription.id}}</h4>
            <br>
            <h4>Date : {{mainPrescription.created | date}}</h4>
          </div>
        </div>
        <div class="row" style="margin-top:10px">
          <div class="col-md-offset-1 col-md-10" style="height:10px;background:#f1f1f1">
          </div>
        </div>

        <div class="row" style="margin-top:50px;">
          <div class="col-md-offset-1 col-md-11" style="min-height:120px;" ng-repeat="medicine in mainPrescription.medicines track by $index">
            <h3>{{medicine.medicinename.name}}<span>({{medicine.medicinename.type}})*{{medicine.days}} days</span></h3>
            <div class="row" style="margin-left:5px;" ng-if="medicine.morning_count!=0">

                <div class="col-md-1" >
                  <b>Moring</b>
                </div>
                <div class=" col-md-1" style="width:20px !important">
                  <p style="background:#5e5e5e;width:4px !important;height:25px;"></p>
                </div>
                <div class=" col-md-8" ng-if="medicine.medicinename.type=='Liquid'||medicine.medicinename.type=='Drops'" >
                  <b >{{medicine.morning_count}} ML <span ng-if="medicine.after_food"> After Food</span><span ng-if="!medicine.after_food"> Before Food</span></b>
                </div>
                <div class=" col-md-8" ng-if="medicine.medicinename.type=='Capsules'||medicine.medicinename.type=='Tablet'" >
                  <b >{{medicine.morning_count}} Tablet <span ng-if="medicine.after_food"> After Food</span><span ng-if="!medicine.after_food"> Before Food</span></b>
                </div>
                <div class=" col-md-8" ng-if="medicine.medicinename.type!='Capsules'&&medicine.medicinename.type!='Tablet'&&medicine.medicinename.type!='Liquid'&&medicine.medicinename.type!='Drops'" >
                  <b >{{medicine.morning_count}} Quantity <span ng-if="medicine.after_food"> After Food</span><span ng-if="!medicine.after_food"> Before Food</span></b>
                </div>
            </div>
            <div class="row" style="margin-left:5px;margin-top:5px;" ng-if="medicine.afternoon_count!=0">
                <div class="col-md-1">
                  <b>Afternoon</b>
                </div>
                <div class=" col-md-1" style="width:20px !important;margin-left:8px;">
                  <p style="background:#5e5e5e;width:4px !important;height:25px;"></p>
                </div>
                <div class=" col-md-8" ng-if="medicine.medicinename.type=='Liquid'||medicine.medicinename.type=='Drops'" >
                  <b ng-if="morning_count!=0">{{medicine.afternoon_count}} ML <span ng-if="medicine.after_food"> After Food</span><span ng-if="!medicine.after_food"> Before Food</span></b>
                </div>
                <div class=" col-md-8" ng-if="medicine.medicinename.type=='Capsules'||medicine.medicinename.type=='Tablet'" >
                  <b ng-if="morning_count!=0">{{medicine.afternoon_count}} Tablet <span ng-if="medicine.after_food"> After Food</span><span ng-if="!medicine.after_food"> Before Food</span></b>
                </div>
                <div class=" col-md-8" ng-if="medicine.medicinename.type!='Capsules'&&medicine.medicinename.type!='Tablet'&&medicine.medicinename.type!='Liquid'&&medicine.medicinename.type!='Drops'" >
                  <b ng-if="morning_count!=0">{{medicine.afternoon_count}} Quantity <span ng-if="medicine.after_food"> After Food</span><span ng-if="!medicine.after_food"> Before Food</span></b>
                </div>
            </div>
            <div class="row" style="margin-left:5px;;margin-top:5px;" ng-if="medicine.night_count!=0">
                <div class="col-md-1">
                  <b>Night</b>
                </div>
                <div class=" col-md-1" style="width:20px !important">
                  <p style="background:#5e5e5e;width:4px !important;height:25px;"></p>
                </div>
                <div class=" col-md-8" ng-if="medicine.medicinename.type=='Liquid'||medicine.medicinename.type=='Drops'" >
                  <b ng-if="morning_count!=0">{{medicine.night_count}} ML <span ng-if="medicine.after_food"> After Food</span><span ng-if="!medicine.after_food"> Before Food</span></b>
                </div>
                <div class=" col-md-8" ng-if="medicine.medicinename.type=='Capsules'||medicine.medicinename.type=='Tablet'" >
                  <b ng-if="morning_count!=0">{{medicine.night_count}} Tablet <span ng-if="medicine.after_food"> After Food</span><span ng-if="!medicine.after_food"> Before Food</span></b>
                </div>
                <div class=" col-md-8" ng-if="medicine.medicinename.type!='Capsules'&&medicine.medicinename.type!='Tablet'&&medicine.medicinename.type!='Liquid'&&medicine.medicinename.type!='Drops'" >
                  <b ng-if="morning_count!=0">{{medicine.night_count}} Quantity <span ng-if="medicine.after_food"> After Food</span><span ng-if="!medicine.after_food"> Before Food</span></b>
                </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <b style="word-wrap:break-word;">Command:{{medicine.command}}</b>
              </div>

            </div>
            <div class="row">
              <div class="col-md-4 pull-right">

                <b ng-if="medicine.medicinename.type=='Liquid'||medicine.medicinename.type=='Drops'">Total Quantity:{{medicine.total_qty}} ML*</b>
                <b ng-if="medicine.medicinename.type!='Liquid'&&medicine.medicinename.type!='Drops'">Total Quantity:{{medicine.total_qty}} pieces*</b>
              </div>

            </div>




          </div>
        </div>
        <div class="row" style="margin-top:40px;">
          <div class="col-md-offset-1 col-md-2">
            <h4 style="color:#4285F4 ">MR/MS/MRS :</h4>
            <h4 style="color:#4285F4 ">Age :</h4>
            <h4 style="color:#4285F4 ">Contact No :</h4>
            <h4 style="color:#4285F4 ">Treatment :</h4>
          </div>
          <div class="col-md-6">
            <h4>{{mainPrescription.username.name}}</h4>
            <h4>{{mainPrescription.username.age}}</h4>
            <h4>{{mainPrescription.username.mobile}}</h4>
            <h4>{{mainPrescription.username.treatment}}</h4>

          </div>
        </div>

        <div class="row" style="margin-top:60px;">
            <div class="col-md-12" style="background:#4285F4;height:50px;">
                <div class="col-md-offset-1 col-md-1" style="margin-top:10px;width:50px;">
                  <i class="fa fa-phone fa-2x" aria-hidden="true" style="color:white;"></i>
                </div>
                <div class="col-md-3" style="margin-top:5px;">
                  <h4 style="color:white;">{{mainPrescription.clinicname.mobile}}</h4>
                </div>
                <div class="col-md-offset-2 col-md-1" style="margin-top:10px;width:50px;">
                  <i class="fa fa-envelope  fa-2x" aria-hidden="true" style="color:white;"></i>
                </div>
                <div class="col-md-4" style="margin-top:5px;">
                  <h4 style="color:white;">{{mainPrescription.clinicname.email}}</h4>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4" style="height:100% !important;background:#f1f1f1;;min-height:150vh;overflow:hidden;">
    <div class="row">
      <div class="col-md-3" style="margin-top:10px">
        <button type="button" class="btn btn-primary btn-block" style="background:#4285F4;color:black;border-radius:10px !important;padding:12px; border:none !important;outline:0" ng-click="previous()">Prev</button>
      </div>
      <div class="col-md-offset-1 col-md-4 pull-center">
        <h3>Past Visits</h3>
      </div>
      <div class="col-md-3 pull-right" style="margin-top:10px">
        <button type="button" class="btn btn-primary btn-block" style="background:#4285F4;color:black;border-radius:10px !important;padding:12px; border:none !important;outline:0" ng-click="next()">Next</button>
      </div>
    </div>
    <div class="row" ng-repeat="k in appointments" style="margin:10px;background:white;border-radius:20px;padding:15px;color:grey;">
      <div class="col-md-offset-1 col-md-6" style="margin-top:10px;">
        <h2 style="margin-top:0px;margin-bottom:10px;">{{k.username.name}}</h2>
        <img src="/static/images/icons8-email-96.png" style="width:25px;margin-left:5px;margin-right:5px;margin-bottom:10px;"><b>Treatment:{{k.username.treatment}}</b><br>
        <img src="/static/images/icons8-dialing-number-100.png" style="width: 35px;margin-bottom:10px;"> {{k.username.mobile}}
        <h4>visited: {{k.created | date}}</h4>
      </div>
      <div class="col-md-5">
        <h4>Doctor Details</h4>
          <h5 style="margin-top:0px;margin-bottom:10px;word-wrap: break-word;">{{k.doctordetails.name}}</h5>
          <h4>{{mainPrescription.doctordetails.specialization}}</h4>
          <button type="button" class="btn btn-primary btn-block" style="background:#f1f1f1;color:black;border-radius:10px !important;padding:12px; border:none !important;outline:0;margin-top:5px;" ng-click="getSpecificPrescription(k.id)">View</button>

        </div>
      </div>




      <!-- <div class="col-md-3">
        <div class="row">
          <div class="col-md-12">
            <i class="fa fa-clipboard fa-2x" style="cursor:pointer;margin-top:10%;margin-bottom:10%" ng-click="openPasskey(k.profile.pk);$event.stopPropagation()"></i>
          </div>
        </div>
      </div> -->
    </div>
  </div>

</div>
