<style media="screen">
  .inputStyle {
    background:
      black;
    border: 1px solid white !important;
    color: white;
  }

  .btnStyle {
    background:
      rgb(73, 74, 74) !important;
    color:
      white !important;
    border-radius: 5px !important;
  }
</style>
<div class="col-md-offset-3 col-md-6" ng-init="more = false;" ng-controller="admin.manageUsers.userform">
  <h3 class="text-center" style="color:#ffffff">Create New User</h3>
  <div class="form-group">
    <label style="color:#ffffff">Username</label>
    <input type="text" class="form-control inputStyle" ng-model="data.username" required placeholder="username">
  </div>
  <div class="form-group">
    <label style="color:#ffffff">First Name</label>
    <input type="text" class="form-control inputStyle" ng-model="data.first_name" required placeholder="First Name">
  </div>
  <div class="form-group">
    <label style="color:#ffffff">Last Name</label>
    <input type="text" class="form-control inputStyle" ng-model="data.last_name" required placeholder="Last Name">
  </div>
  <div class="form-group">
    <label style="color:#ffffff">Password</label>
    <input type="password" class="form-control inputStyle" ng-model="data.password" required placeholder="Password">
  </div>

  <div class="form-group">
    <label style="color:#ffffff">Mobile Number</label>
    <input type="text" class="form-control inputStyle" ng-model="data.mobile" required placeholder="Mobile number">
  </div>

  <div class="form-group">
    <label style="color:#ffffff">Select Role</label>
    <select class="form-control inputStyle" ng-model="role" ng-options="role as role.title for role in roles track by role.pk">

    </select>
  </div>
  <div class="form-group">
    <label style="color:#ffffff">Profile Picture</label>
    <input type="file" file-model="data.displayPicture">
  </div>
  <div class="form-group">
    <label style="color:#ffffff">Address</label>
    <textarea type="text" rows="3"  value="" class="form-control inputStyle"  ng-model="data.address"></textarea>
  </div>
  <div class="form-group">
    <label style="color:#ffffff">Pincode</label>
    <input type="text" class="form-control inputStyle" ng-model="data.pincode" required placeholder="Pincode">
  </div>
  <br>

  <button ng-click="createUser()" type="button" class="btn btn-default btnStyle" style="margin-top:30px;">
    Save
  </button>

</div>
