<style>
  .productForm {
    padding:10px;
    border:1px solid #d3d3d3;
    border-radius:10px;
    font-size:15px;
    background:#F9F9F9;
  }
  .dateField {
    padding:10px;
    border:1px solid #d3d3d3;
    border-top-left-radius: 10px;
    margin-bottom:15px;
    font-size:14px;
    border-bottom-left-radius: 10px;
    background-color:#F9F9F9;
  }

  .dateButton {
    padding: 6px;
    border:1px solid #d3d3d3;
    border-bottom-right-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color:#F9F9F9;
  }

  .dropdownIcon {
    position: absolute;
    right: 20px;
    padding: 8px;
    color: grey;
  }

</style>


<div class="modal-body" style="background:white;padding: 40px;">


  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center" style="font-weight:bold;color:black;">Create Prescription </h3>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Contact no*</label>
            <input type="text" class="form-control productForm" uib-typeahead="a as a.mobile for a in userSearch($viewValue)" typeahead-on-select="userOnSelect()" ng-model="form.usermobile" placeholder="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Customer Name*</label>
            <input type="text" class="form-control productForm" ng-model="form.username" placeholder="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Age</label>
            <input type="number" class="form-control productForm" ng-model="form.age" placeholder="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Next Visit</label>
            <div class="input-group">
              <input type="text" class="form-control dateField" ng-model="form.date" placeholder="" show-weeks="false" uib-datepicker-popup="dd-MMMM-yyyy" is-open="statusEnd.opened" ng-init="today">
              <span class="input-group-btn" >
                <button type="button" class="btn btn-default dateButton" ng-click="statusEnd.opened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Health Issues</label>
            <input type="text" class="form-control productForm" ng-model="form.health"  placeholder="" maxlength="6">
          </div>
          </div>
          <div class="col-md-2" style="margin-top:20px;">
            <button class="btn btn-primary" ng-click="addIssues(form.health)" style="background:#2471a3;color: white;border: none !important;border-radius: 64px !important;padding: 10px;width: 112px;font-size: 16px;"> Add</button>
          </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Ongoing Treatment</label>
            <input type="text" class="form-control productForm" ng-model="form.ongoing_treatment" placeholder="" >
          </div>
        </div>
      </div>
      <div class="row">
        <div  class="col-md-2"style=""  ng-repeat="x in form.health_issues track by $index">
          <div  style="border:1px solid black;padding: 5px 10px;">
            <p style="margin-bottom:0px;" >{{x}} <i class="fa fa-times pull-right" aria-hidden="true" style="padding-left:10px;cursor:pointer" ng-click="deleteIssues($index)"></i></p>
            <!-- <span>{{x.title}} </span> -->

          </div>
          </div>

      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Doctor Fees</label>
            <input type="number" class="form-control productForm" ng-model="form.doctor_fees" placeholder="" >
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>Sex</label>
            <br>
            <span class="dropdownIcon"> <i class="fa fa-caret-down"></i></span>
            <select class="form-control productForm" ng-model="form.sex" ng-options="a for a in sex_types" style="padding:5px;">
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Address*</label>
            <textarea name="" style="width:100%"  ng-model="form.address" class="productForm"></textarea>
          </div>

        </div>

      </div>
      <!-- <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Next Visit</label>
            <div class="input-group">
              <input type="text" class="form-control dateField" ng-model="form.date" placeholder="" show-weeks="false" uib-datepicker-popup="dd-MMMM-yyyy" is-open="statusEnd.opened" ng-init="today">
              <span class="input-group-btn" >
                <button type="button" class="btn btn-default dateButton" ng-click="statusEnd.opened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div>
        </div>
      </div> -->


      <!-- <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Warranty Status*</label>
            <br>
            <span class="dropdownIcon"> <i class="fa fa-caret-down"></i></span>
            <select class="form-control productForm" ng-model="form.warrantyStatus" ng-options="a for a in warrantyTypes" style="padding:5px;">
            </select>
          </div>
        </div>
        <div class="col-md-6" ng-if="form.warrantyStatus == 'Out of Warranty'">
          <div class="form-group">
            <label>Amount*</label>
            <input type="text" class="form-control productForm" ng-model="form.amount" placeholder="">
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="row" style="margin-top:20px;">
    <div class="col-md-12">
      <div class="col-md-6" ng-repeat="m in form.medicines track by $index" style="margin-bottom:20px;">
        <div class="container-fluid"  style="box-shadow:5px 10px 20px #e3e3e3;height:170px;padding:15px;background:white;border-radius:10px;">
          <div class="row">
            <div class="col-md-10">
              <h5 style="font-weight:600" style="margin:0px !important;padding:0px !important;">{{m.medicine}}</h5>
              <b>{{m.type}}</b> <br>
              <b>Morning Quantity : {{m.morning_count}} ,</b><b >Afternoon Quantity : {{m.afternoon_count}}  ,</b><b> Night Quantity : {{m.night_count}}</b><br>
              <b>Total Quantity : {{m.total_qty}}</b>
               <div class="row" style="margin:5px">
                 <div class="col-md-6">
                   <button class="btn btn-primary btn-block" ng-click="addMedicine('edit',m,$index)" style="background:#2471a3;color: white;border: none !important;border-radius: 14px !important;padding: 10px;font-size: 16px;"> edit</button>

                 </div>
                 <div class="col-md-6" style="margin-bottom:30px;">
                   <button class="btn btn-primary btn-block" ng-click="deleteMedicines($index)" style="background:#2471a3;color: white;border: none !important;border-radius: 14px !important;padding: 10px;font-size: 16px;"> delete</button>

                 </div>
               </div>
            </div>
            <div class="col-md-2">
              <img  src="/static/images/handpill.png" style="width:100%;height:150px;">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-2 text-center" ng-click="addMedicine('item','add','empty')">
        <div class="" style="box-shadow:5px 10px 20px #e3e3e3;height:170px;padding-top:40px;padding-right:8px;background:white;border-radius:10px;" >
          <i class = "fa fa-plus " style="font-size:20px;"></i> <br><br>
          <p style="margin-left:10px">Add New</p>
        </div>

      </div>
    </div>
  </div>


  <div class="row text-center" style="margin-top:30px;" >
    <button class="btn btn-primary" ng-click="addPrescription()" style="background:#2471a3;color: white;border: none !important;border-radius: 64px !important;padding: 10px;width: 112px;font-size: 16px;"> Add</button>
  </div>


</div>
