<style>
  .productForm {
    padding:10px;
    border:1px solid #d3d3d3;
    border-radius:10px;
    font-size:15px;
    background:#F9F9F9;
  }
  .dateField {
    padding:10px;
    border:1px solid #d3d3d3;
    border-top-left-radius: 10px;
    margin-bottom:15px;
    font-size:14px;
    border-bottom-left-radius: 10px;
    background-color:#F9F9F9;
  }

  .dateButton {
    padding: 6px;
    border:1px solid #d3d3d3;
    border-bottom-right-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color:#F9F9F9;
  }

  .dropdownIcon {
    position: absolute;
    right: 20px;
    padding: 8px;
    color: grey;
  }

</style>


<div class="modal-body" style="background: #F3F3F3;padding: 40px;">

  <div class="row pull-right" style="cursor:pointer !important;">
    <div class="col-md-12">
      <div style="cursor:pointer !important;" ng-click="close();"><i class="fa fa-close"></i></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center" style="font-weight:bold;color:black;">Create Medicine </h3>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Medicine</label>
           <input type="text" class="form-control productForm" uib-typeahead="a as a.title for a in medicineSearch($viewValue)" typeahead-on-select="medicineSelect()" ng-model="form.medicine" placeholder="">
          </div>
        </div>
        </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Medicine Type</label>
            <select class="form-control productForm" ng-model="form.type"  ng-options="i as i for i in types" style="height:40px;;color:black;">
            </select>
           </div>
        </div>
        </div>

        <!-- <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>FromDate*</label>
              <div class="input-group">
                <input type="text" class="form-control dateField" ng-model="form.fromDate" placeholder="" show-weeks="false" uib-datepicker-popup="dd-MMMM-yyyy" is-open="statusEnd1.opened" ng-init="today">
                <span class="input-group-btn" >
                  <button type="button" class="btn btn-default dateButton" ng-click="statusEnd1.opened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </div>
            </div>
          </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>ToDate*</label>
            <div class="input-group">
              <input type="text" class="form-control dateField"  ng-model="form.toDate" placeholder="" show-weeks="false" uib-datepicker-popup="dd-MMMM-yyyy" is-open="statusEnd.opened" ng-init="today">
              <span class="input-group-btn" >
                <button type="button" class="btn btn-default dateButton" ng-click="statusEnd.opened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div>
        </div>

      </div> -->
      <div class="row">

        <div class="col-md-12">
          <div class="form-group">
            <label>No of Days</label>
            <input type="number" class="form-control productForm" ng-model="form.days"  ng-change='addTotal()'  placeholder="" >
          </div>
        </div>
      </div>
      <div class="row" ng-if="form.type=='Tablet'||form.type=='Capsules'">

        <div class="col-md-12">
          <div class="form-group" >
            <label>Morning Count</label>
            <input type="number" class="form-control productForm" ng-model="form.morning_count" ng-change='addTotal()'  placeholder="" >
          </div>
        </div>
      </div>
      <div class="row" ng-if="form.type=='Tablet'||form.type=='Capsules'">
        <div class="col-md-12">
          <div class="form-group">
            <label>Afternoon Count</label>
            <input type="number" class="form-control productForm" ng-model="form.afternoon_count" ng-change='addTotal()'  placeholder="" >
          </div>
        </div>
      </div>
      <div class="row" ng-if="form.type=='Tablet'||form.type=='Capsules'">
        <div class="col-md-12">
          <div class="form-group">
            <label>Night Count</label>
            <input type="number" class="form-control productForm" ng-model="form.night_count" ng-change='addTotal()' placeholder="" >
          </div>
        </div>
      </div>
      <div class="row" ng-if="form.type!='Tablet'&&form.type!='Capsules'">

        <div class="col-md-12">
          <div class="form-group" >
            <label>Morning Quantity</label>
            <input type="number" class="form-control productForm" ng-model="form.morning_count" ng-change='addTotal()'  placeholder="" >
          </div>
        </div>
      </div>
      <div class="row" ng-if="form.type!='Tablet'&&form.type!='Capsules'">
        <div class="col-md-12">
          <div class="form-group">
            <label>Afternoon Quantity</label>
            <input type="number" class="form-control productForm" ng-model="form.afternoon_count" ng-change='addTotal()'  placeholder="" >
          </div>
        </div>
      </div>
      <div class="row" ng-if="form.type!='Tablet'&&form.type!='Capsules'">
        <div class="col-md-12">
          <div class="form-group">
            <label>Night Quantity</label>
            <input type="number" class="form-control productForm" ng-model="form.night_count" ng-change='addTotal()' placeholder="" >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Total Quantity</label>
            <input type="number" class="form-control productForm" ng-model="form.total_qty" placeholder="" disabled>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Comment*</label>
            <textarea name="" style="width:100%"  ng-model="form.command" class="productForm"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-center" style="margin-top:30px;">
    <h3>AfterFood ?  <span><input type="checkbox" name="" value="" ng-model="form.after_food"></span></h3>
  </div>

  <div class="row text-center" style="margin-top:30px;" ng-if="type != 'edit'">
    <button class="btn btn-primary" ng-click="add()" style="background:#2471a3;color: white;border: none !important;border-radius: 64px !important;padding: 10px;width: 112px;font-size: 16px;"> Add</button>
  </div>
  <div class="row text-center" style="margin-top:30px;" ng-if="type == 'edit'">
    <button class="btn btn-primary" ng-click="add()" style="background:#2471a3;color: white;border: none !important;border-radius: 64px !important;padding: 10px;width: 112px;font-size: 16px;"> Edit</button>
  </div>

</div>
