<style>
  .productForm {
    padding:10px;
    border:1px solid #d3d3d3;
    border-radius:10px;
    font-size:15px;
    background:#F9F9F9;
  }
  .dateField {
    padding:10px;
    border:1px solid #d3d3d3;
    border-top-left-radius: 10px;
    margin-bottom:15px;
    font-size:14px;
    border-bottom-left-radius: 10px;
    background-color:#F9F9F9;
  }

  .dateButton {
    padding: 6px;
    border:1px solid #d3d3d3;
    border-bottom-right-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color:#F9F9F9;
  }

  .dropdownIcon {
    position: absolute;
    right: 20px;
    padding: 8px;
    color: grey;
  }

</style>


<div class="modal-body" style="background: #F3F3F3;padding: 40px;">

  <div class="row pull-right" style="cursor:pointer !important;">
    <div class="col-md-12">
      <div style="cursor:pointer !important;" ng-click="close();"><i class="fa fa-close"></i></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center" style="font-weight:bold;color:black;">Create Ticket </h3>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Contact no*</label>
           <input type="text" class="form-control productForm" ng-model="form.mobile" placeholder="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Customer Name*</label>
            <input type="text" class="form-control productForm" ng-model="form.customer" placeholder="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Email ID</label>
            <input type="text" class="form-control productForm" ng-model="form.email" placeholder="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Zone*</label>
            <br>
            <span class="dropdownIcon"> <i class="fa fa-caret-down"></i></span>
            <select class="form-control productForm" ng-model="form.contact.zone" ng-options="a for a in zoneList" style="padding:5px;">
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Pincode*</label>
            <input type="text" class="form-control productForm" ng-model="form.pincode" placeholder="" maxlength="6">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>City*</label>
            <input type="text" class="form-control productForm" ng-model="form.city" placeholder="" >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>State*</label>
            <input type="text" class="form-control productForm" ng-model="form.state" placeholder="" >
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Address*</label>
            <textarea name="" style="width:100%"  ng-model="form.street" class="productForm"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Product Serial Number*</label>
            <input type="text" class="form-control productForm" ng-model="form.productSno" uib-typeahead="a as a.serialNo for a in productSnoSearch($viewValue)"  placeholder="Search by serial number">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Product Model*</label>
            <input type="text" class="form-control productForm" ng-model="form.productModel" placeholder="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Work Order Type*</label>
            <br>
            <span class="dropdownIcon"> <i class="fa fa-caret-down"></i></span>
            <div class="form-group">
              <select class="form-control productForm" ng-model="form.workType" ng-options="a for a in woTypes" style="padding:5px;">
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Customer Priority*</label>
            <br>
            <span class="dropdownIcon"> <i class="fa fa-caret-down"></i></span>
            <select class="form-control productForm" ng-model="form.priority" ng-options="a for a in priorityTypes" style="padding:5px;">
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Customer Requested Date*</label>
            <div class="input-group">
              <input type="text" class="form-control dateField" ng-model="form.date" placeholder="" show-weeks="false" uib-datepicker-popup="dd-MMMM-yyyy" is-open="statusEnd.opened" ng-init="today">
              <span class="input-group-btn" >
                <button type="button" class="btn btn-default dateButton" ng-click="statusEnd.opened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Product Type*</label>
            <br>
            <span class="dropdownIcon"> <i class="fa fa-caret-down"></i></span>
            <select class="form-control productForm" ng-model="form.productType" ng-options="a for a in productTypes" style="padding:5px;">
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Work Order Reason*</label>
            <input type="text" class="form-control productForm" ng-model="form.woReason" placeholder="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Work Order Created By*</label>
            <br>
            <span class="dropdownIcon"> <i class="fa fa-caret-down"></i></span>
            <select class="form-control productForm" ng-model="form.assignedBy" ng-options="a.first_name + ' ' + a.last_name for a in usersList" style="padding:5px;">
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Warranty Status*</label>
            <br>
            <span class="dropdownIcon"> <i class="fa fa-caret-down"></i></span>
            <select class="form-control productForm" ng-model="form.warrantyStatus" ng-options="a for a in warrantyTypes" style="padding:5px;">
            </select>
          </div>
        </div>
        <div class="col-md-6" ng-if="form.warrantyStatus == 'Out of Warranty'">
          <div class="form-group">
            <label>Amount*</label>
            <input type="text" class="form-control productForm" ng-model="form.amount" placeholder="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-center" style="margin-top:30px;">
    <p>Is Billable ?  <span><input type="checkbox" name="" value="" ng-model="form.billed"></span></p>
  </div>

  <div class="row text-center" style="margin-top:30px;">
    <button class="btn btn-primary" ng-click="createTicket()" style="background:#2471a3;color: white;border: none !important;border-radius: 64px !important;padding: 10px;width: 112px;font-size: 16px;"> Add</button>
  </div>

</div>
