<style media="screen">
  .active{
    color:white;
    font-weight:700
  }
  .pagination > li > a,.pagination > .active > a:hover{
    border:none !important;
    color:white !important;
    /* font-weight:700; */
    background-color:transparent !important;
    font-size:14px;
  }
  .pagination > .active > a{
    background-color:transparent !important;
    outline:none;
    color:white !important;
    font-weight:700;
      font-size:14px;
  }

  body{
    background:black;
    color:white !important;
  }
  table{
    border-radius:10px;
    border:2px solid black;
    border-collapse:inherit !important;

  }
  td{
    border-top:none !important;
  }
  th{
    border-bottom:none !important;
  }
</style>
<div class="container">
  <div class="row">
    <div  style="margin-top:60px">
      <div class="row">
        <div class="col-md-12 text-center" style="color:#ffffff">
          <h3> <b>USERS</b> </h3>
          </div>
      </div>
      <div class="row" style="margin-top:30px">
        <div class="col-md-2 text-center" style="color:#ffffff">
          <select class="form-control" ng-model="search.val" style="background:#444444;color:#ffffff;border:none" ng-change="getInstitutes()">
            <option value="ALL">ALL</option>
            <option value="SCHOOL">SCHOOL</option>
            <option value="COLLEGE">COLLEGE</option>
          </select>
          </div>
          <div class="col-md-4 " style="background:black;border-radius:5px;border:1px solid white!important;font-size:18px;">
            <input type="text" class="form-control" ng-model="search.query" placeholder="SEARCH BY UNIQUE ID / INSTITUTE NAME" style="background:black;border:none !important;font-size:18px;color:white">
          </div>
            <div class="col-md-2" >
            <button type="button" class="btn btn-default btn-block" name="button" style="background:#000000;color:white;" ng-click="getInstitutes()">SEARCH</button>
          </div>
          <div class="col-md-offset-2 col-md-2" >
            <button type="button" class="btn btn-default btn-block" name="button" ng-click="$state.go('organization.institute.create')" style="background:rgb(73, 74, 74);color:white;">CREATE</button>
          </div>
      </div>
      <div class="row" style="margin:0px;margin-top:50px">
        <div class="co-md-12">
        <table class="table text-center">
          <thead style="background:rgb(73, 74, 74);border-radius:20px !important;color:#ffffff">
              <tr>
                  <th class="text-center">UNIQUE ID</th>
                  <th class="text-center">NAME</th>
                  <th class="text-center">TYPE</th>
                  <th class="text-center">CONTACT NO</th>
                  <th class="text-center">ADDRESS</th>
                  <th class="text-center">ACTION</th>
              </tr>
          </thead>
          <tbody style="border-radius:20px !important;color:#ffffff">
              <tr ng-repeat="item in results track by $index">
                <td>{{item.uniqueid}}</td>
                <td>{{item.title}}</td>
                <td>{{item.isSchool?'SCHOOL' : 'COLLEGE'}}</td>
                <td>{{item.contactNo}}</td>
                <td>{{item.address}}</td>
                <td>
                  <button type="button" name="button" class="btn" style="background-color:transparent;cursor:pointer;text-decoration:underline;box-shadow:none;outline:none;" ng-click="$state.go('organization.all',{'id':item.pk})">VIEW</button>
                </td>
              </tr>
          </tbody>
      </table>
      </div>
      </div>
      <div class="row text-center">
        <div class="col-md-offset-4 col-md-4 col-md-offset-4">
          <ul uib-pagination boundary-links="false" total-items="total" items-per-page="limit"  max-size="3" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged(currentPage)"></ul>
        </div>
      </div>
    </div>
      </div>
  </div>
