<div class="container-fluid">
  <h1>aweawegawegeg</h1>
  <div class="row">
    <div class="col-md-10" >

    </div>
    <div class="col-md-2">

    </div>

  </div>
  <div class="{{isShowTech?'col-md-6':'col-md-9'}}" style="width:{{isShowTech?'71%':'82%'}}">
</div>

<div ng-if="!isShowTech" class="col-md-1"
  style="border-top-left-radius:10px;border-bottom-left-radius:10px;cursor:pointer;height:400px;width:50px;background-image: linear-gradient(to right, #fb0f04 , #ed0c61);z-index:201;position: absolute;right: 0;top: 42%;"
  ng-click="showTechnicianAside()">
  <p class="verticaltext openUserEditBox" style="padding:5px;">SHOW TECHNICIAN</p>
</div>
<div ng-if="isShowTech" class="col-md-1"
  style="border-top-left-radius:10px;border-bottom-left-radius:10px;cursor:pointer;height:400px;width:50px;background-image: linear-gradient(to right, #fb0f04 , #ed0c61);z-index:201;position: absolute;right: 25%;top: 42%;"
  ng-click="showTechnicianAside()">
  <p class="verticaltext closeUserEditBox" style="padding:5px;">HIDE TECHNICIAN</p>
</div>
<div ng-if="isShowTech" class="col-md-3" style="position:absolute;right:0;min-height:100%;background-color:white;z-index: 0;">
  <div class="row" style="margin:0px;padding:20px;">
    <span style="font-size:20px;font-weight:bold;color:black;">{{ today | date : 'd MMM y' }}</span>
    <span class="pull-right" style="font-size:25px;margin-right:30px;color:black"><i class="fa fa-refresh" ng-click="reset()"></i></span>
    <span class="pull-right" style="font-size:25px;margin-right:30px;color:black"><i class="fa fa-calendar" ng-click="reset()"></i></span>
  </div>
  <div class="row" style="margin:0px;padding:20px;">
    <span style="position:absolute;left:35px;padding:8px;"><i class="fa fa-search"></i></span>
    <input type="text" class="form-control inputStyle" ng-model="showStatus.search" ng-change="search()" placeholder=" Search Technician" style="padding:10px 30px;">
  </div>
  <div class="row text-center" style="">
    <div class="col-md-6" ng-click="showStages('online')" style=" {{showStatus.text=='online'?'border-bottom:5px solid black;':''}};padding:15px;"><span style="cursor:pointer;font-size:16px;color:green;font-weight:bold;padding:15px;" >ONLINE </span>
      <div class="row" >

      </div>
    </div>
    <div class="col-md-6" ng-click="showStages('offline')" style="{{showStatus.text=='offline'?'border-bottom:5px solid black;':''}};padding:15px;"><span
        style="cursor:pointer;font-size:16px;color:red;font-weight:bold;">OFFLINE</span></div>
  </div>
  <div class="row" style="background:white;border-radius:10px;{{showStatus.text=='online'?'border:1px solid #13D74A;':'border:1px solid red;'}}margin:20px 20px; padding:15px;" ng-repeat="u in ['a', 'b']" ng-click="changeMap($index)" ng-if="showStatus.text == 'online'">
    <div class="col-md-6" style="padding-left:0px;">
      <div class="row">
        <div class="col-md-3">
          <img ng-src="{{me.pk | getDP}}" style="margin-top:10px;width:50px;border-radius:50%;cursor:pointer;">
          <span class="indicator" style="{{showStatus.text=='online'?'background:#13D74A':'background:red'}};position: absolute;right: -10px;bottom: 0;"></span>
        </div>
        <!-- <div class="col-md-6 pull-left" style="margin-top:10px;">
          <span style="font-weight:bold;color:black;padding-left:10px;">{{u.user.first_name}}</span> <br> <span style="font-weight:bold;color:grey;padding-left:10px;">{{u.user.pk}}
          </div> -->
        <div class="col-md-6 pull-left" style="margin-top:10px;">
          <span style="font-weight:bold;color:black;padding-left:10px;">testuser</span> <br> <span style="font-weight:bold;color:grey;padding-left:10px;">1
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row" style="margin-top:10px;">
        <span style="font-size:16px;padding-left:20px;"><b style="color:black;" class="pull-right"> <i class="fa fa-map-marker" style="color:#00BFFF;"></i> {{u.total_distance| number : 2}} KM</b></span>
      </div>
    </div>
  </div>
  <div class="row" style="background:white;border-radius:10px;{{showStatus.text=='online'?'border:1px solid #13D74A;':'border:1px solid red;'}}margin:20px 20px; padding:15px;" ng-repeat="u in offlineusers"  ng-if="showStatus.text == 'offline'">
    <div class="col-md-6" style="padding-left:0px;">
      <div class="row">
        <div class="col-md-3">
          <img ng-src="{{me.pk | getDP}}" style="margin-top:10px;width:50px;border-radius:50%;cursor:pointer;">
          <span class="indicator" style="{{showStatus.text=='online'?'background:#13D74A':'background:red'}};position: absolute;right: -10px;bottom: 0;"></span>
        </div>
        <div class="col-md-6 pull-left" style="margin-top:10px;">
          <span style="font-weight:bold;color:black;padding-left:10px;">{{u.user.first_name}}</span> <br> <span style="font-weight:bold;color:grey;padding-left:10px;">{{u.user.pk}}
        </div>
      </div>
      <div class="row" style="margin-top:10px;">
        <span style="font-size:17px;padding-left:20px;"><b style="color:green;">{{u.completedTour}}</b> <span style="font-size:10px;color:green;"> / <span style="font-size:17px;"><b style="color:red;">{{u.totalTour}}</b></span>
      </div>
      <div class="row" style="margin-top:10px;">
        <span style="font-size:15px;padding-left:20px;"><b style="color:red;">Feedback : {{u.feedback_count}}</b></span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row" style="margin-top:10px;">
        <span style="font-size:20px;padding-left:20px;"><b style="color:black;" class="pull-right"> <i class="fa fa-battery"></i> {{u.battery_level}}%</b></span>
      </div>
      <div class="row" style="margin-top:10px;">
        <span style="font-size:16px;padding-left:20px;"><b style="color:black;" class="pull-right"> <i class="fa fa-map-marker"></i> {{u.total_distance| number : 2}} KM</b></span>
      </div>
      <div class="row text-right" style="margin-top:35px;">
        <span ng-if="u.login.length>0" style="font-size:15px;"><b style="color:grey;">LOGIN {{u.login|date:'hh : mm  a'}}</b><br></span>
        <span ng-if="u.logout.length>0"  style="font-size:15px;" ng-if="showStatus.text =='offline'&& u.logout.length>0" ><b style="color:grey;">LOGOUT {{u.logout|date:'hh : mm  a'}}</b></span>
      </div>
    </div>
  </div>
</div>

</div>
