<style media="screen">
  .darkInput{
    background: white;
    color: black;
    border-radius: 10px;
    padding: 23px;
    border: 1px solid #d3d3d3;
    margin-top:10px;
  }
  .productForm {
    padding:10px;
    border:1px solid #d3d3d3;
    border-radius:10px;
    font-size:15px;
    background:#F9F9F9;
  }


</style>

<div class="col-md-12 ">

  <h3 style="color:black;margin-bottom:30px;">Add Medicines</h3>
  <div class="form-group">
    <label style="color:black" >Medicine</label>
    <input type="text" class="form-control productForm" placeholder="Search or Enter MedicineName" uib-typeahead="a as a.title for a in medicineSearch($viewValue)" typeahead-on-select="medicineSelect()" ng-model="form.title" placeholder="">
  </div>
  <div class="form-group">
    <label style="color:black">Medicine Type</label>
    <select class="form-control " ng-model="form.type"  ng-change="allCategory()" ng-options="i as i for i in types" style="border-radius:5px !important;height:40px;background:white;color:black;">
    </select>
  </div>
  <div class="form-group">
    <label style="color:black">Selling Price</label>
    <input type="number" class="form-control" ng-model="form.price" placeholder="Enter price" style="background:white;color:black;border">
  </div>
  <div class="form-group" ng-if="form.type=='Tablet'||form.type=='Capsules'">
    <label style="color:black" >No of Strips Per Box</label >
    <input type="number" class="form-control" ng-model="form.strips_per_boxes" style="background:white;color:black;border" >
  </div>
  <div class="form-group" ng-if="form.type=='Tablet'||form.type=='Capsules'">
    <label style="color:black">No of Medicines Per Strips</label>
    <input type="number" class="form-control" ng-model="form.medicines_per_strips" style="background:white;color:black;border" >
  </div>
  <div class="form-group" ng-if="form.type!='Tablet'&&form.type!='Capsules'">
    <label style="color:black">No of Pieces Per Box</label>
    <input type="number" class="form-control" ng-model="form.medicines_per_strips" style="background:white;color:black;border" >
  </div>
  <div class="form-group">
    <label style="color:black">Minimum Quantity</label>
    <input type="number" class="form-control" ng-model="form.min_quantity" style="background:white;color:black;border" >
  </div>



<button class="btn btn-default btn-block" ng-click="addCategory()" style="background:#461482;color:white;border: none !important;border-radius: 64px !important;padding: 17px;padding-right: 17px;padding-left: 17px;right: 59px;font-size: 16px;z-index: 10;padding-right: 30px;padding-left: 30px;margin-top:10px;">Create</button>
</div>
