<style>
  .highlight_card:hover {
    border-left: 3px solid var(--themeMain);
    cursor: pointer
  }
  .flex-container {
  display: flex;
    flex-direction: row;
}

#map {
  height: 100vh;
  /* width: 94%; */
  margin-left: 0px;
}

.address {
  width: 100%;
}

.banner {
  height: 40vh;
}

@media (max-width:997px) {
  #map {
    margin-left: 0;
    width: 100%;
    height: 300px;
  }

  .address {
    width: 28%;
  }

  .banner {
    height: 50vh;
  }
}


.rz-pointer{
  box-shadow: 0px 0px 21px #ff9d3e;
  background-color: #ff9d3e !important;
}

.input-group .btn-default{
  border:solid 2px #eee !important;
}
.input-group input{
  border:none !important;
  font-size:21px;
}

  .flipswitch {
    position: relative;
    background: white;
    width: 90px;
    height: 40px;
    -webkit-appearance: initial;
    border-radius: 3px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    font-size: 14px;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #ddd;
  }

  .flipswitch:after {
    position: absolute;
    top: 5%;
    display: block;
    line-height: 32px;
    width: 45%;
    height: 90%;
    background: #fff;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.3s ease-in 0s;
    color: black;
    border: #888 1px solid;
    border-radius: 3px;
  }

  .flipswitch:after {
    left: 2%;
    content: "OFF";
  }

  .flipswitch:checked:after {
    left: 53%;
    content: "ON";
  }
.gm-style-iw{
  background: #faea82!important;
  color:black!important
}


.indicator {
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  border-radius: 50%;
  -webkit-animation: pulse-animation 2s infinite linear;
}

.verticaltext {
  width: 1px;
  word-wrap: break-word;
  color: white;
  font-weight: bold;
  font-size: 18px;
  white-space: pre-wrap;
  /* this is for displaying whitespaces including Moz-FF.*/
}

.inputField {
  border-radius: 10px;
  background-color: #F1F1F1;
}
.inputStyle {
  padding: 10px;
  background-color: #f3f3f3;
  border-radius: 10px;
  border: none !important;
}
#chartdiv {
  width: 100%;
  height: 800px;
}

#wrapper { position: relative; }


#over_map { position: absolute; top: 10px; left: 10px; z-index: 99; }

</style>
<div class="container-fluid" style="width:100%;min-height:100vh;height:100%">
  <div class="row" style="background:white;margin:0px;height:100vh !important;">
    <div class="col-md-12" style="padding:50px;background:white;color:white;position:absolute;right:0px;height:100vh;overflow:auto;">

      <div class="row" style="margin-bottom:20px;margin-top:20px;">
        <div class="row">
          <div class="col-md-1" style="position:relative;">
            <select class="form-control" id="year"name="" ng-model="form.year" ng-options="k for k in years" style="background:white;border-radius:10px;"ng-change="getMonthlyRevenue()">
            </select>
          </div>

          <div class="col-md-2">
            <select class="form-control " name="" ng-model="form.month" ng-options="k for k in months" style="background:white;border-radius:10px;" ng-change="getMonthlyRevenue()">
            </select>
          </div>
          <div class="col-md-2">
            <select class="form-control" id="year"name="" ng-model="form.clinic" ng-change="getDoctors(form.clinic.clinicpk)" ng-options="k as k.name for k in ownedClinics" style="background:white;border-radius:10px;"ng-change="getMonthlyRevenue()">
            </select>
           </div>
          <div class="col-md-1">
              <select class="form-control" id="year"name="" ng-model="form.type" ng-options="k for k in types" style="background:white;border-radius:10px;"ng-change="getMonthlyRevenue()">
              </select>
          </div>

          <!-- <div class="col-md-2">
            <span>
              <select class="form-control " ng-model="selectedClinic.status"  ng-change="allAppointments('a')" ng-options="i as i for i in status" style="border-radius:5px !important;border:none !important;height:40px;background:#f1f1f1;color:black;">
              </select>
            </span>
          </div> -->
          <div class="col-md-2">
            <select class="form-control abbInput" id="year"name="" ng-model="form.choices" ng-options="k for k in choices" style="background:white;border-radius:10px;"ng-change="getMonthlyRevenue()">

            </select>
          </div>
          <div class="col-md-1" ng-if="form.type=='doctors'&&form.choices=='peaktime'">
              <select class="form-control" id="year"name="" ng-model="form.doctor" ng-options="k as k.doctor.first_name for k in doctors" style="background:white;border-radius:10px;"ng-change="getMonthlyRevenue()">
              </select>
          </div>
          <div class="col-md-2" >
            <button type="button" class="btn btn-default " style="background: #082ed0;color: white;border : none !important;border-radius:10px !important;padding: 15px;width: 88%;left: 25px;font-size:14px;" ng-click="setParams()">
                Change Stats
              </button>
          </div>
        </div>
      </div>


  <div class="row" style="margin-top:50px;">
    <div id="chartdiv">

    </div>
  </div>
</div>
</div>


</div>
